@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core with Entity Framwork</a>.</p>
    <ul>
        <li> Created Category, product pages. add, update and delete (CURD) Using Scaffolding And Entity Framework </li>
        <li> Given simple validations </li>
        <li> Login authentication and authorization using identity framwork - only logged users can modify i.e delete, create, update data</li>
    </ul>
</div>
